html{
	background-image: url("../css/Kepek/main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	height: 100vh;
}

body{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	margin: 0px;
}
						/*-----Főoldal-----*/
.menu{
	text-align: right;
	font-size: 32px;
	width: 100%;	
	background-color: rgba(175, 238, 238,0.2);
}

.fooldal{
	display: inline-block;
	text-align: right;
	margin: 10px;
}	

a{
	color: orangered;
}

.Bevszoveg{
	margin: 75px 0px 0px 16px;
	color: orangered;
}

.koszonto{
	font-size: 48px;
	text-align: center;
}

.nev{
	
	font-size: 64px;
	text-align: center;
}

					/*-----Bemutatkozás-----*/

.bemutatkozas{
	font-size: 32px;
	color: orange;
}
.fejléc{
	color: orangered;
	text-align: center;
	font-size: 128px;
	border-radius: 40px;
	border-bottom: 6px orangered;
	margin: 24px;
}
.leiras{
	color: black;
	font-size: 32px;
	border:solid orangered;
	border-radius: 20px;
	background-color: rgba(255,69,0,0.5);
	display: grid;
	grid-template-columns: 1fr;
	margin: 32px;
	padding: 16px;	
	text-align: center;
}
.Eleres{
	font-size: 36px;
	padding: 12px;
	color: orangered;
}
.elerhetoseg{
	color: orangered;
	font-size: 16px;
	text-align: left;
	
	padding: 12px;
}
.tortenet{
	font-size: 64px;
	margin: 16px; 
}

							/*-----Hobbik-----*/
.hobbik{
	color: black;
	font-size: 32px;
	background-color: rgba(255,255,255,0.4);
	border: solid orangered;
	border-radius: 20px;
	padding: 16px;
	margin: 32px;
}
.kepek{
	margin: 16px;
	padding: 32px;


	
	
}
.kartya{
	color: black;
	font-size: 32px;
	border:solid orangered;
	border-radius: 20px;
	background-color: rgba(255,69,0,0.5);
	/*display: grid;
	grid-template-columns: 1fr;*/
	display: inline-block;
	margin: 32px;
	padding: 16px;	
	text-align: center;
	max-width: 40%;
	min-width: 200px;
	min-height: 720px;
	vertical-align: top;

}
.kartya img{
	max-width: 100%;
	max-height: 100%;
}

						/*-----Tervezet-----*/

.tervezet{
	display: inline-block;
	padding: 1rem;
	margin: 16px 256px;
	text-align: center;
	max-width: 70%;

}
.leiras img{
	max-width: 100%; 
	max-height: 100%; 
	padding-bottom: 16px;
	
}
.linkek{
	font-size: 16px;
	color: black;
	border:solid orangered;
	border-radius: 20px;
	background-color: rgba(255,69,0,0.5);
	margin: 32px;
	padding: 16px;
	display: inline-block;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;


}



